[Dd]ebug/
[Rr]elease/
x64/
x86/
[Bb]uild/
[Oo]ut/

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
*.ncb
*.opensdf
*.sdf
*.VC.db
*.VC.VC.opendb

*.obj
*.pch
*.pdb
*.ilk
*.log
*.idb
*.exp
*.lib

*.dll
*.exe

*.txt
*.aps
ipch/
